:root {
  --bs-primary: #93C572;
  --bs-primary-light: #B9D9A3;
  --bs-primary-dark: #6FA14B;

  --bs-secondary: #FFB97B;
  --bs-secondary-light: #FFD7A8;
  --bs-secondary-dark: #E6954D;

  --bs-success: #93C572;
  --bs-warning: #FFB97B;
  --bs-danger: #A67C52;
}